*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Add styles here! */

:root {
  --gutter-size: 8px;
  --spacing-xxs: var(--gutter-size);
  --spacing-xs: calc(2 * var(--gutter-size));
  --spacing-sm: calc(3 * var(--gutter-size));
  --spacing-md: calc(4 * var(--gutter-size));
  --spacing-lg: calc(5 * var(--gutter-size));
  --spacing-xl: calc(6 * var(--gutter-size));
  --spacing-xxl: calc(7 * var(--gutter-size));
  --font-md: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-xxl: 2rem;
  --color-primary: hsl(160deg, 100%, 30%);
  --color-secondary: hsl(45deg, 100%, 50%);
  --color-secondary-dark: hsl(45deg, 100%, 40%);
  --color-black: hsl(0deg, 0%, 0%);
  --color-grey-darker: hsl(0deg, 0%, 10%);
  --color-grey-dark: hsl(0deg, 0%, 30%);
  --color-grey: hsl(0deg, 0%, 40%);
  --color-grey-light: hsl(0deg, 0%, 60%);
  --color-white: hsl(0deg, 0%, 100%);
}

body {
  background: var(--color-grey-light);
}

.max-width-wrapper {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding: var(--spacing-sm);
}

header {
  background: var(--color-white);
  border-bottom: 6px solid var(--color-grey-dark);
  padding: var(--spacing-xl) 0;
}

.intro-chunk {
  font-size: var(--font-xl);
}

.intro-chunk .title {
  color: var(--color-black);
  font-size: var(--font-xxl);
  margin-bottom: var(--spacing-xl);
}

.intro-chunk p {
  color: var(--color-grey-darker);
}

.intro-chunk p + p {
  margin-top: var(--spacing-xs);
}

.intro-chunk strong {
  color: var(--color-primary);
}

.card {
  background-color: var(--color-white);
  margin-top: var(--spacing-xxl);
  margin-left: calc(-1 * var(--spacing-sm));
  margin-right: calc(-1 * var(--spacing-sm));
  padding: var(--spacing-sm);
  border-bottom: 6px solid var(--color-grey-dark);
  font-size: var(--font-xl);
}

.card .indented-heading {
  color: var(--color-black);
  padding: var(--spacing-xs) var(--spacing-md) var(--spacing-xs)
    var(--spacing-lg);
  font-size: var(--font-lg);
  width: fit-content;
  background-color: var(--color-secondary);
  margin-top: calc(-1 * var(--spacing-xs));
  margin-left: calc(-1 * var(--spacing-lg));
  margin-bottom: var(--spacing-sm);
  border-bottom: 6px solid var(--color-secondary-dark);
}

.card p {
  color: var(--color-grey-darker);
}

.card p + p {
  margin-top: var(--spacing-sm);
}

@media (min-width: 576px) {
  .intro-chunk {
    width: 60%;
  }

  .card,
  .intro-chunk {
    font-size: var(--font-lg);
  }
}

@media (min-width: 768px) {
  .card,
  .intro-chunk {
    font-size: var(--font-md);
  }
}
